.Header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header > h1 {
  padding: 40px;
  text-align: start;
  background: none;
  color: azure;
  font-size: 40px;
}
